.wrap{
	border-collapse: collapse;
}
.wrap h3{
	font-size: 20px;
	line-height: 50px;
	padding: 0 0 0 1em;
	/*height: 40px;*/
}
.wrap table{
	width: 100%;
	font-size: 16px;
	border-collapse: collapse;
	border-color: #aaa;
	border: 0;
	border-top: 1px solid #aaa;
}

.wrap table tr{
	min-height: 30px;
}

.wrap table tr:nth-child(odd){
	background: #f9f5ee
}

.wrap table tr:hover{
	background: #f8fadd
}

.wrap table tr th{
	font-size: 1.2em;
	height: 40px;
}

.wrap table tr td{
	text-align: center;
}

.wrap table tr td button{
	margin: 2px;
	padding: 0 10px;
}

.wrap table tr td button.del-repair-info{
	background: #eaa;
	border: 0;
	outline: 0;
	border-radius: 4px;
}

.wrap.add-repair{

}

.wrap.add-repair input[type=text]{
	width: 100%;
	height: 100%;
	line-height: 100%;
	font-size: 1em;
	border: 0;
	outline: 0;
	background: transparent;
	padding: 0 10px;
}

.wrap.add-repair table tr td{
	width: 100px;
}

.wrap.add-repair table tr td:nth-child(2){
	width: 160px;
	/*line-height: */
}

.wrap.add-repair table tr td:nth-child(2) ul li{
	/*margin: 2px;*/
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #bbb;
}

.wrap.add-repair table tr td:nth-child(2) ul li input{
	line-height: 100%;
	height: 100%;
	vertical-align: text-bottom;
	/*font-size: 16px;*/
}

.wrap.add-repair table tr td:nth-child(2) input[type=text]{
	width: 80%;
}